<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-flat.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/styles/course-detail.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"/> -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/axios@0.20.0/dist/axios.min.js"></script>
  <script src="https://cdn.stringee.com/sdk/web/2.2.1/stringee-web-sdk.min.js"></script> -->
  <script src="/scripts/api.js"></script>
  <script src="/scripts/meeting.js"></script>
  <link rel="icon" href="/images/logo-hez.png" type="image/x-icon">
  <title>
    <%= course.name %> - Courses | HOWA - Course Register
  </title>
  <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
  <script src="/scripts/web3.js"></script>
  <script src="/scripts/coursedetail.js"></script>
  <script src="/scripts/profile.js"></script>
  <script src="/process.js"></script>
  <script src="https://js.stripe.com/v3"></script>
  <script src="https://srv.buysellads.com/ads/CWYDP2QE.json?callback=customJSONPCallback"></script>
  <script>
    const urlCurrent = window.location.href;

    // Tách URL thành các phần tử bằng "/"
    const urlParts = urlCurrent.split("/");

    // Lấy giá trị cuối cùng sau dấu "/"
    const courseId = urlParts[urlParts.length - 1];
    const userId = sessionStorage.getItem('ssIdUser')
    const priceCurrent = '<%= course.price %>'
    var hasPurchased = 0
    sessionStorage.setItem('ssIdCourse', courseId)
    sessionStorage.setItem('ssPriceCourse', priceCurrent)

    fetch(`/check-owner?courses_id=${courseId}&users_id=${userId}`)
      .then((response) => response.json())
      .then(data => {
        var btnBuyNow = document.getElementById('btnBuyNow');
        var btnCancel = document.getElementById('btnCancelCourse');
        var btnWithdrawStudent = document.getElementById('btnWithdrawStudent')
        var btnWithdrawMentor = document.getElementById('btnWithdrawMentor')
        // Is owner course
        if (data.result == 1 && data.endTime == true) {
          if (data.wd == true) {
            btnBuyNow.style.display = "none";
            btnCancel.style.display = "none";
            btnWithdrawStudent.style.display = "none";
            btnWithdrawMentor.style.display = "none"

          } else {
            btnBuyNow.style.display = "none";
            btnCancel.style.display = "none";
            btnWithdrawStudent.style.display = "none";
            btnWithdrawMentor.style.display = "block"
          }
        } else if (data.result == 1 && data.endTime == false) {
          btnBuyNow.style.display = "none";
          btnCancel.style.display = "none";
          btnWithdrawStudent.style.display = "none";
          btnWithdrawMentor.style.display = "none"
        } else if (data.result == -1) {
          fetch(`/check-buycourse?courses_id=${courseId}&users_id=${userId}`)
            .then((response) => response.json())
            .then(data => {
              if (data.result === 1) {
                hasPurchased = 1; // Có thể huỷ khoá học và rút tiền
              } else if (data.result === 2) {
                hasPurchased = 2  // Có thể huỷ khoá học và rút tiền lại những ngày không học
              } else if (data.result === 3) {
                hasPurchased = 3  // Có thể rút tiền sau khoá học
              }
              // Lấy tham chiếu đến button
              var btnBuyNow = document.getElementById('btnBuyNow');
              var btnCancel = document.getElementById('btnCancelCourse');
              var btnWithdrawStudent = document.getElementById('btnWithdrawStudent')

              // Ẩn button nếu người dùng đã mua khóa học
              if (hasPurchased === 1) {
                btnBuyNow.style.display = "none";
                btnCancel.style.display = "block";
                btnWithdrawStudent.style.display = "none";
              } else if (hasPurchased === 0) {
                btnCancel.style.display = "none";
                btnBuyNow.style.display = "block";
                btnWithdrawStudent.style.display = "none";
              } else if (hasPurchased === 3) {
                btnCancel.style.display = "none";
                btnBuyNow.style.display = "none";
                btnWithdrawStudent.style.display = "block";
              } else {
                // Trường hợp không cho ruts
              }
            })
            .catch(err => {
              console.log(err)
            })
        }
      })

    console.log(courseId)
    // Check room was create
    fetch(`/has-meeting?/${courseId}`)
      .then(response => response.json())
      .then(data => {
        const infoDiv = document.getElementById("info");
        const roomIdElement = document.getElementById("roomId");
        const roomUrlElement = document.getElementById("roomUrl");
        const roomIdCopyElement = document.getElementById("roomIdCopy");
        const copyDiv = document.getElementById('copy')

        if (data.result === 1) {
          console.log('Not meeting yet');

          document.getElementById("info").style.display = "none";
        } else if (data.result === 0 && data.hasVal) {
          console.log('Have meeting');
          document.getElementById('btnCreateRoom').style.display = 'none'

          document.getElementById("info").style.display = "block";

          document.getElementById("roomId").textContent = data.hasVal;
          document.getElementById("roomUrl").href = roomUrl(data.hasVal);
          document.getElementById("roomUrl").textContent = roomUrl(data.hasVal);
          document.getElementById("roomIdCopy").textContent = data.hasVal;

          document.getElementById("roomIdCopy").addEventListener('click', () => {
            navigator.clipboard.writeText(data.hasVal)
              .then(() => {
                document.getElementById('copy').textContent = 'Copied'
                document.getElementById('copy').style.display = 'inline-block'

                setTimeout(() => {
                  document.getElementById('copy').style.display = 'none'
                }, 5000);
                console.log("Đã sao chép Room ID:", data.hasVal);
              })
              .catch((error) => {
                console.error("Lỗi khi sao chép Room ID:", error);
              });
          })
        } else if (data.result === -1) {
          console.log('Not found');
          // Không tìm thấy khóa học
        } else {
          console.log('Error:', data.error);
          // Xử lý lỗi nếu có
        }
      })
      .catch(error => {
        console.error('Error:', error);
        // Xử lý lỗi nếu có
      });


  </script>
</head>
<%- include("../partials/header") %>

  <body>
    <section style="margin-top: 70px;">
      <div class="breadcrumb" style="padding-left: 20%;">
        <a href="/index.html" style="color:black;">Home</a>
        >
        <a href="/courses/index.html" style="color: black;">Courses</a>
        >
        <a style="text-decoration: none;">
          <%= course.name %>
        </a>
      </div>
      <div class="card" style="height: auto; display: block; margin: auto; margin-top: 30px; width: 1200px;">
        <div id="main" style="margin: 2%;">
          <div id="pitch">
            <div id="logo-course" style="float:left; margin-right: 10px; margin-bottom: 15px;">
              <div>
                <img src=<%=course.image %>
                style="margin-top: 6px;margin-right: 10px;width: 200px;height: 200px;" alt="<%= course.name %>">
                  <br>
              </div>
            </div>
            <div id="detail-course" class="not-delayed" style="padding: 0% 5% 0% 20%; margin-left: 2%;">
              <h2 id="title" style="margin-bottom: 20px;"><b>
                  <%= course.name %>
                </b></h2>
              <p style="margin-bottom: 5px;">Category:&nbsp;
                <%= course.categories_id.charAt(0).toUpperCase() + course.categories_id.slice(1) %>
              </p>
              <p style="margin-bottom: 5px;">Lecturer:&nbsp;<%= course.lectures_id %>
              </p>
              <p style="margin-bottom: 5px">
                Duration:&ensp;<%= course.start_date %> - <%= course.end_date %>
              </p>
              <div style="margin-top: 15px; margin-bottom: 15px;">
                <span style="color: rgb(255, 0, 0); font-size: 30px;"><b>
                    <%= course.price.toLocaleString('en-US') %> ETH&nbsp;
                  </b></span>
                <span style="color: rgb(128, 128, 137); text-decoration: line-through;">
                  <%= course.old_price.toLocaleString('en-US') %> ETH
                </span>
                <span style="color: rgb(255, 0, 0);">&nbsp;-<%= Math.round((1-course.price/course.old_price)*100) %>
                    %</span>
              </div>
              <div id="btnBuyNow" class="group-button" style="margin-bottom: 30px; ">
                <button class="btn btn-buy-now" id="buttonBuy" type="button" style="display: none;">Buy now
                  <div id="spinner" class="spinner"></div>
                </button>
                <p class="countdown-time" id="countdown" style="margin-top: 10px; color: red;"></p>
                <script>
                  var endTime = new Date('<%= course.end_regist %>').getTime();
                  console.log(endTime);
                  //source: https://www.w3schools.com/howto/howto_js_countdown.asp
                  // Set the date we're counting down to
                  var countDownDate = new Date(endTime).getTime();
                  console.log(countDownDate);
                  // Update the count down every 1 second
                  var x = setInterval(function () {

                    // Get today's date and time
                    var now = new Date().getTime();

                    // Find the distance between now and the count down date
                    var distance = countDownDate - now;
                    if (distance < 0) {
                      clearInterval(x);
                      document.getElementById("countdown").innerHTML = "Registration period has ended!";
                      document.getElementById("buttonBuy").style.display = "none";
                      document.getElementById("buttonBuy").disabled = true;
                    } else {
                      // Time calculations for days, hours, minutes and seconds
                      var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                      var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                      var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                      var seconds = Math.floor((distance % (1000 * 60)) / 1000);
                      document.getElementById("buttonBuy").style.display = "";
                      // Output the result in an element with id="countdown"
                      document.getElementById("countdown").innerHTML = "Registration will end in " + days + "d " + hours + "h "
                        + minutes + "m " + seconds + "s!";

                      // If the count down is over, write some text 
                    }
                  }, 1000);
                </script>
              </div>
              <div id="btnCancelCourse" class="group-button" style="margin-bottom: 30px; display: none;">
                <button class="btn btn-buy-now" style="background-color: purple;" type="button">Cancel Course
                  <div id="spinner" class="spinner"></div>
                </button>
              </div>
              <div id="btnWithdrawStudent" class="group-button" style="margin-bottom: 30px; display: none;">
                <button class="btn btn-buy-now" style="background-color: purple;" type="button">Withdraw
                  <div id="spinner" class="spinner"></div>
                </button>
              </div>
              <div id="btnWithdrawMentor" class="group-button" style="margin-bottom: 30px; display: none;">
                <button class="btn btn-buy-now" style="background-color: purple;" type="button">Withdraw Fee
                  <div id="spinner" class="spinner"></div>
                </button>
              </div>
              <div id="btnGet" class="group-button" style="margin-bottom: 30px; display: block;">
                <button class="btn btn-buy-now" style="background-color: purple;" type="button">Get Info Student
                  <div id="spinner" class="spinner"></div>
                </button>
              </div>
              <!-- Tạo room -->
              <div class="course-description" style="border-top: 1px solid #a8acc0;">
                <p style="font-size: 20px; color: Navy; margin-top: 30px; margin-bottom: 15px;"><b>Meeting ROOM</b>
                </p>
                <!-- <div id="btnCreateRoom" class="group-button" style="margin-bottom: 30px; display: block;">
                  <button class="btn btn-buy-now" style="background-color: wheat;" type="button"
                    onclick="OnlyCreateRoom()">Create Room
                    <div id="spinner" class="spinner"></div>
                  </button>
                </div> -->
                <div id="info" style="display: none;">
                  <p>Bạn đang ở trong room <strong id="roomId"></strong>.</p>
                  <p>
                    Gửi link này cho bạn bè cùng join room nhé
                    <a id="roomUrl" target="_blank"></a>.
                  </p>
                  <style>
                    #roomIdCopy {
                      background-color: #f1f1f1;
                      padding: 2px 4px;
                      border-radius: 4px;
                    }

                    #copy {
                      display: inline-block;
                      background-color: green;
                      color: white;
                      padding: 5px 10px;
                      border-radius: 4px;
                      width: 70px;
                      font-size: small;
                    }
                  </style>
                  <p style="display: inline; white-space: nowrap;">Click here <code id="roomIdCopy"></code>
                  <p id="copy" class="custom-panel" style="display: none"></p> để share.</p>
                </div>
                <!-- <div id="roomID"></div>
                <br>
                <div id="roomTOKEN"></div> -->
              </div>
            </div>
            <div class="course-description" style="border-top: 1px solid #a8acc0;">
              <p style="font-size: 20px; color: blueviolet; margin-top: 30px; margin-bottom: 15px;"><b>Description</b>
              </p>
              <%= course.description %>
            </div>
            <div>
              <h2 id="showInfo" style="display: none;">Information Student</h2>
              <table class="w3-table w3-table-all" id="tbList">

              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Customer Feedback-->
    <div class="w3-sand" style="margin-top: 40px; padding: 50px 0px;" id="testimony">
      <div class="feedback">
        <div class="w3-container">
          <h2 class="section-text-header" style="margin-top: 0px !important;">Customer FeedBack</h2>
          <!--Source code and css: https://www.w3schools.com/howto/howto_css_user_rating.asp-->
          <div class="customer-rating w3-left-align">
            <div class="col-4">
              <span class="heading">User Rating</span>
              <span class="fa fa-star checked" style="font-size:x-large;"></span>
              <span class="fa fa-star checked" style="font-size:x-large;"></span>
              <span class="fa fa-star checked" style="font-size:x-large;"></span>
              <span class="fa fa-star checked" style="font-size:x-large;"></span>
              <span class="fa fa-star" style="font-size:x-large;"></span>
              <p>4.1 average based on 254 reviews.</p>
            </div>
          </div>
        </div>
        <hr style="border:3px solid #f1f1f1">
        <div class="row">
          <div class="side">
            <div>5 stars</div>
          </div>
          <div class="middle">
            <div class="bar-container">
              <div class="bar-5"></div>
            </div>
          </div>
          <div class="side right">
            <div>150</div>
          </div>
          <div class="side">
            <div>4 stars</div>
          </div>
          <div class="middle">
            <div class="bar-container">
              <div class="bar-4"></div>
            </div>
          </div>
          <div class="side right">
            <div>63</div>
          </div>
          <div class="side">
            <div>3 stars</div>
          </div>
          <div class="middle">
            <div class="bar-container">
              <div class="bar-3"></div>
            </div>
          </div>
          <div class="side right">
            <div>15</div>
          </div>
          <div class="side">
            <div>2 stars</div>
          </div>
          <div class="middle">
            <div class="bar-container">
              <div class="bar-2"></div>
            </div>
          </div>
          <div class="side right">
            <div>6</div>
          </div>
          <div class="side">
            <div>1 star</div>
          </div>
          <div class="middle">
            <div class="bar-container">
              <div class="bar-1"></div>
            </div>
          </div>
          <div class="side right">
            <div>20</div>
          </div>
        </div>
        <div class="group-button center" style="margin: 30px auto;">
          <button class="btn btn-feedback" id="open-modal-btn">Send feedback</button>
        </div>
        <!-- Modal box -->
        <div id="feedback-modal" class="modal">
          <div class="modal-content">
            <span class="close">&times;</span>
            <h2><b>Send feedback</b></h2>
            <h5>Course: <%= course.name %> - <%= course.lectures_id %>
            </h5>
            <div class="rating">
              <input type="number" name="rating" hidden>
              <i class='bx bx-star star' style="--i: 0;"></i>
              <i class='bx bx-star star' style="--i: 1;"></i>
              <i class='bx bx-star star' style="--i: 2;"></i>
              <i class='bx bx-star star' style="--i: 3;"></i>
              <i class='bx bx-star star' style="--i: 4;"></i>
            </div>
            <textarea id="feedback-text" placeholder="What is your view?"></textarea>
            <button class="btn btn-submit-feedback btn-center" id="submit-feedback-btn">Submit</button>
            <button class="btn btn-cancel">Cancel</button>
          </div>
        </div>
      </div>
    </div>
    <div class="Customer-feedback w3-left-align" style="display: flex;flex-wrap: wrap;">
      <!-- <div class="feedback-card">
          <div class="customer-feedback-header">
            <div class="customer-profile">
              <img src="https://photo-cms-tpo.epicdn.me/w890/Uploaded/2023/aohuooh/2014_07_08/annabelle_VGIK.jpg"
                alt="Búp bê ma Annabelle" />
            </div>
            <div>
              <p class="name">Annabelle</p>
            </div>
          </div>
          <div>
            <p class="w3-small">"10 điểmmmmmmmmmmmmmmmmmm!Tối Beo ghé tặng một nụ hôn!"</p>
          </div>
        </div>
        <div class="feedback-card">
          <div class="customer-feedback-header">
            <div class="customer-profile">
              <img
                src="https://afamilycdn.com/150157425591193600/2020/3/26/9102519526563951479518365377079929655525376o-1585181253139343012422-15851925696381880198733.jpg"
                alt="Trần Thanh Tâm" />
            </div>
            <div>
              <p class="name">Á hậu 8 Miss Fabulous<br>Trần Thanh Tâm</p>
            </div>
          </div>
          <div>
            <p class="w3-small">"Sau khi đăng ký học một khoá nấu ăn trên Howa, Tâm đã biết các chiên trứng bằng dầu
              hoả!"</p>
          </div>
        </div>
        <div class="feedback-card">
          <div class="customer-feedback-header">
            <div class="customer-profile">
              <img src="https://img.docbao.vn/images/uploads/2023/02/07/doi-song/co-dong-2.jpg"
                alt="Cô đồng Trương Hương" />
            </div>
            <div>
              <p class="name">Cô đồng Trương Hương</p>

            </div>
          </div>
          <div>
            <p class="w3-small">"Bổ qua cau này ra nói trang Howa này có nhiều khoá học hay, bổ ích. Đúng nhận sai cãi
              cho cô cái!"</p>
          </div>
        </div>
        <div class="feedback-card">
          <div class="customer-feedback-header">
            <div class="customer-profile">
              <img
                src="https://i.vietgiaitri.com/2022/1/17/tran-my-livestream-nhan-loi-phan-tran-ve-viec-luon-leo-khi-noi-khong-quen-khanh-e0f-6274215.jpg"
                alt="Tran My" />
            </div>
            <div>
              <p class="name">Trần My</p>

            </div>
          </div>
          <div>
            <p class="w3-small">"My đã nhận ra 550:2 không phải là 225 sau khi học một khoá làm toán ở Howa!"</p>
          </div>
        </div> -->
    </div>
    </div>
    </div>
    <%- include("../partials/footer") %>
  </body>

</html>