<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-flat.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/styles/style.css">
  <link rel="stylesheet" href="/styles/course-detail.css">
  <title><%= course.name %> - Courses | HOWA - Course Register</title>
  <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
  <script src="/scripts/web3.js"></script>
  <script src="/process.js"></script>
</head>
<header class="header" id="top">
  <div class="w3-top">
    <div class="w3-bar w3-black w3-card header">
      <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right"
        href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
      <a href="/index.html" class="w3-bar-item w3-button w3-padding-large "><b>HOWA</b></a>
      <span class="w3-right">
        <a href="/index.html" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Home</a>
        <a href="/courses/index.html" class="w3-bar-item w3-button w3-padding-large w3-hide-small" style="background-color: white; color: black;">Courses</a>
        <a href="#about" class="w3-bar-item w3-button w3-padding-large w3-hide-small">About</a>
        <a href="#contact" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Contact</a>
        <a href="/auth/login.html" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Login</a>
        <div class="w3-dropdown-hover w3-right w3-hide-small">
          <button class="w3-button w3-black w3-padding-large">Account</button>
          <div class="w3-dropdown-content w3-bar-block w3-border" style="right:0">
            <a href="/account/profile.html" class="w3-bar-item w3-button">Profile</a>
            <a href="/account/wallet.html" class="w3-bar-item w3-button">My wallet</a>
            <a href="/account/mycourse.html" class="w3-bar-item w3-button">My courses</a>
            <a href="/account/edit-password.html" class="w3-bar-item w3-button">Edit password</a>
            <a href="#" class="w3-bar-item w3-button">Log out</a>
          </div>
        </div>
      </span>
    </div>
  </div>

  <div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
    <a href="/index.html" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">Home</a>
    <a href="/courses/index.html" class="w3-bar-item w3-button w3-padding-large" style="background-color: white; color: black;" onclick="myFunction()">Couses</a>
    <a href="#about" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">About</a>
    <a href="#contact" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">Contact</a>
    <a href="/auth/login.html" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">Login</a>
    <div class="w3-dropdown-hover w3-right">
      <button class="w3-button w3-black w3-padding-large">My Account</button>
      <div class="w3-dropdown-content w3-bar-block w3-border">
        <a href="/account/profile.html" class="w3-bar-item w3-button">Profile</a>
        <a href="/account/wallet.html" class="w3-bar-item w3-button">My wallet</a>
        <a href="/account/mycourse.html" class="w3-bar-item w3-button">My courses</a>
        <a href="/account/edit-password.html" class="w3-bar-item w3-button">Edit password</a>
        <a href="#" class="w3-bar-item w3-button">Log out</a>
      </div>
    </div>
  </div>
</header>

<body>
  <section style="margin-top: 70px;">
    <div class="breadcrumb" style="padding-left: 20%;">
      <a href="/index.html" style="color:black;">Home</a>
      >
      <a href="/courses/index.html" style="color: black;">Courses</a>
      >
      <a style="text-decoration: none;"><%= course.name %></a>
    </div>
    <div class="card" style="height: auto; display: block; margin: auto; margin-top: 30px; width: 1200px;">
      <div id="main" style="margin: auto;">
        <div id="pitch">
          <div id="logo-course" style="float:left; margin-right: 10px; margin-bottom: 15px;">
            <div>
              <img src=<%= course.image %>
                style="margin-top: 6px;margin-right: 10px;width: 200px;height: 200px;" alt="Basic Python">
              <br>
            </div>
          </div>
          <div id="detail-course" class="not-delayed">
            <h2 id="title" style="margin-bottom: 20px;"><b><%= course.name %></b></h2>
            <p style="margin-bottom: 5px;">Category:&nbsp;
              <a href="" style="color: rgb(31, 128, 192)"><%= course.categories_id %></a>
            </p>
            <p style="margin-bottom: 5px;">
              Lecturer:&nbsp;
              <a href="" style="color: rgb(31, 128, 192)"><%= course.lectures_id %></a>
            <p style="margin-bottom: 5px">
              Duration:&ensp;<%= course.start_date %> - <%= course.end_date %> (20:00 ~ 22:00 every Sunday)
            </p>
            <div style="margin-top: 15px; margin-bottom: 15px;">
              <span style="color: rgb(255, 0, 0); font-size: 30px;"><b><%= course.price %> ETH&nbsp;</b></span>
              <span style="color: rgb(128, 128, 137); text-decoration: line-through;"><%= course.price %> ETH&nbsp;</span>
              <span style="color: rgb(255, 0, 0);">&nbsp;-17%</span>
            </div>
            <div class="group-button" style="margin-bottom: 30px;">
              <button id="btnBuyNow" class="btn btn-buy-now" type="button">Buy now</button>
            </div>
            <div>
              <button id="btnConnectMM">Connect metamask</button>
          </div>
          </div>
          <div class="course-description" style="border-top: 1px solid #a8acc0;">
            <p style="font-size: 20px; color: blueviolet; margin-top: 30px; margin-bottom: 15px;"><b>Description</b></p>
            <%= course.description %>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="w3-center contact" id="contact" style="color: white;">
    <div class=" w3-left-align w3-margin-top contact-info ">
      <h3 style="font-weight: 800;" class="contact-head">GET IN TOUCH</h3>
      <h4 style="font-weight: 600;">Your styles at low cost
      </h4>
      <p>We care about our customers<br>you can contact us for any feedback</p>
      <h4 style="font-weight: 600;">Follow Us </h4>

      <i class="fa fa-facebook-official w3-hover-opacity icons"></i>
      <i class="fa fa-instagram w3-hover-opacity icons"></i>
      <i class="fa fa-snapchat w3-hover-opacity icons"></i>
      <i class="fa fa-pinterest-p w3-hover-opacity icons"></i>
      <i class="fa fa-twitter w3-hover-opacity icons"></i>
      <i class="fa fa-linkedin w3-hover-opacity icons"></i>
    </div>
    <div class="w3-left-align w3-margin-top contact-info">
      <h3 style="font-weight: 600;">OPENING HOURS</h3>
      <p>Mon - Sat 7am - 9pm:</p>
      <p>Opening on Morning | Off at afternoon</p>
      <p>Delivery only on opening hours</p>
    </div>
  </div>
</body>

</html>